  a l t a i r = = 5 . 5 . 0   a t t r s = = 2 5 . 3 . 0   b l i n k e r = = 1 . 9 . 0   c a c h e t o o l s = = 5 . 5 . 2   c e r t i f i = = 2 0 2 5 . 1 . 3 1   c h a r s e t - n o r m a l i z e r = = 3 . 4 . 1   c l i c k = = 8 . 1 . 8   c o l o r a m a = = 0 . 4 . 6   c o n t o u r p y = = 1 . 3 . 1   c y c l e r = = 0 . 1 2 . 1   f o n t t o o l s = = 4 . 5 6 . 0   g i t d b = = 4 . 0 . 1 2   G i t P y t h o n = = 3 . 1 . 4 4   i d n a = = 3 . 1 0  streamlitpandasmatplotlibplotly